langchain
langchain-core
langchain-community
langsmith

langchain-openai
langchain-huggingface
langchain-chroma
langchain-ollama
langchain-groq

openai
huggingface_hub
sentence-transformers

chromadb
faiss-cpu

pypdf
pymupdf
unstructured
arxiv
duckduckgo-search
youtube-transcript-api
pytube
wikipedia-api

python-dotenv
ipykernel
bs4
validators
numexpr
pandas
duckdb
mysql-connector-python
SQLAlchemy

streamlit
