langchain
langchain_core
langchain_community
langsmith

langchain_openai
langchain_huggingface
langchain_chroma
langchain_ollama
langchain_groq

openai
huggingface_hub
sentence-transformers

chromadb
faiss-cpu

pypdf
pymupdf
unstructured
arxiv
duckduckgo-search
youtube-transcript-api
pytube
wikipedia-api

python-dotenv
ipykernel
bs4
validators
numexpr
pandas
duckdb
mysql-connector-python
SQLAlchemy

streamlit

